@mixin responsive-vw-col () {
  $i: 1;
  @each $grid-name, $grid in $grids {
    $min-width: map-get($grid, 'start-width') !global;
    $columns: map-get($grid, 'columns') !global;
    $max: map-get($grid, 'max-width') !global;
    $vw-col: $max / $columns !global;
    $grid-index: $i !global;

    @if $min-width < 0 {
      @content;
    }
    @else {
      @include breakpoint($min-width) {
        @content;
      }
    }

    $i: $i + 1;
  }
}
