@mixin responsive-vw-col () {
  $grids: sgs-get('grids');

  $last-grid: nth($grids, length($grids));
  $last-columns: nth(nth($last-grid, 2), 1);
  $grids: map-merge($grids, ($max-width: ($last-columns)));

  @for $i from 1 through length($grids) {
    $grid: nth($grids, $i);
    $min-width: nth($grid, 1) !global;
    $columns: nth(nth($grid, 2), 1) !global;
    $max: if(length($grids) == $i, $max-width, 100vw) !global;
    $vw-col: $max / $columns !global;
    $grid-index: $i !global;

    @if $min-width < 0 {
      @content;
    }
    @else {
      @include breakpoint($min-width) {
        @content;
      }
    }
  }
}
