.block-menu.footer {
  letter-spacing: 2px;
  text-align: center;
  .menu {
    @include grid-span(6, 2
    );
    .menu-item {
      width: 100%;
      float: right;
      .menu-link {
        background-color: red;
      }
      .menu-link.is-active {
        text-decoration: none;
      }
    }
  }
}

@include breakpoint($tablet) {
  .block-menu.footer {
    letter-spacing: 2px;
    text-align: center;
    .menu {
      @include grid-span(4, 3);
      .menu-item {
        width: 100%;
        float: right;

      }
    }
  }
}

@include breakpoint($desktop) {
  .block-menu.footer {
    letter-spacing: 2px;
    text-align: center;
    .menu {
      @include grid-span(4, 3);
      .menu-item {
        width: 100%;
        float: right;
      }
    }
  }
}

